@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

@import './variables';
@import './reset';

html {
  scroll-behavior: smooth;
  height: 100%;
}

#root {
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

body {
  background-color: #F2F2F2;
  color: #000000;
  font-family: "Nunito", serif;
}

